.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dark-bg {
  background-color: #222;
  color: #fff;
}

.dark-bg h1,
.dark-bg p {
  color: #fff;
}
.navbar {
  background-color: #333; /* Background color of the navigation bar */
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover {
  background-color: #555; /* Background color on hover */
}

.mb10{
  margin-bottom: 10px;
}

